.blue{
    background-color: aqua !important;
}
.pink{
    background-color: pink !important;
}
.yellow{
    background-color: palegoldenrod !important;
}
.green{
    background-color: lightgreen !important;
}
.purple{
    background-color: lavender !important;
}

.redborder{
    border-color: red;
    border-style: dotted;
}