.blue{
    background-color: aqua;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: palegoldenrod;
}
.green{
    background-color: lightgreen;
}
.purple{
    background-color: lavender;
}